*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    display: flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background-color: #1e81b0;
    color: #fff;
    border-bottom: 3px;
    width: 320px;
    height: 100vh;
    transition: all 0.5s;

}
.top_sections{
    display: flex;
    align-content: center;
    padding: 30px 15px;

}
.logo{
   font-size: 50px; 
   border-bottom: 2px solid #ddd;

  
}
.bars{
   font-size: 30px;
   margin-right: 20px;
   margin-top: 1.5rem;
   margin-left: 10px;
   cursor: pointer;
}
.link{
    display: flex;
    color: #fff;
    padding: 22px 15px;
    gap: 8px;
    transition: all 0.5s;
}
.icon{
    font-size:30px ;
}
.linktext{
    font-size: 30px;
}
.link:hover{
    background-color: rgb(37, 150, 190);
    color: #fff;
    border-radius: 3px;
}
